body {
    font-family: "Inter" !important;
  }
  .background{
    max-width: 100%;
    max-height: 160px;
    background-color: #F6F6F6;
  }
  .text-left m-0{
    font-family: "Inter";
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content:left;
  }
  h4{
    font: bolder;
  }
  .navbar{
    background-color: #F6F6F6;
  }
  .breadcrumb{
    background-color: transparent !important;
    position: relative;
  }
  .breadcrumb-last{
    font-family: "Inter" !important;
    color: black;
    font: bolder;
  }
  .breadcrumb-first{ 
    font-family: "Inter";
    color: #5C5F6A;
  }
  .breadcrumb li::after{
    font-family: "Inter";
    content: ' >';
    color: black;
    display: inline;
  }
  .breadcrumb li:last-child:after{
	content: '';
}
  .breadcrumb-last{
    color: black;
    font-family: "Inter";
    font-weight: 500;
  }
  .password-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.25rem;
  }
  .password-group label {
    font-family: "Inter";
    font-weight: bold;
    margin-top: 0.25rem;
    position: relative;
  }
  .password-group input[type="password"] {
    margin-top: 0.25rem;
    max-width: 320px;
  }
  .btn-dark {
    margin-top: 1rem;
    max-width: 320px;
  }