<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="header.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Product</title>
</head>
<body>
    <div id="offer">
        <p>25% off on your first order. <a href="order.html" style="color: white;">Order Now</a></p>
    </div>

    <div class="navbar">
        <a href="#"><img src="C:\Users\Joshika.Nustartz\cipher\images\logo.png" alt="Logo"></a>
        <div class="nav-links">
            <a href="#home">Home</a>
            <a href="#about">About Us</a>
            <a href="#services">Services</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="rightNav">
            <a><input type="text" class="search" id="search" placeholder="Search products"></a>
            <a href="#"><img src="C:\Users\Joshika.Nustartz\cipher\images\cart.png" alt="Logo" style="height: 18px; width: 18px;"></a>
            <a href="#"><img src="C:\Users\Joshika.Nustartz\cipher\images\user_icon.png" alt="Logo" style="height: 18px; width: 18px;"></a>
        </div>

    </div>

    <div class="product_view">
    </div>
</body>
</html>
